body{
    font-family: 'Open Sans', sans-serif;
}
.header{ 
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    width:1250px;
    height: 500px;
    margin:10px 500px 10px 20px;
    
}
.banner{
    margin: 0 auto;
    color:white;
    justify-content: center;
    text-align: center;
    margin:10px 10px 10px;
   
}
.banner-title{
    font-family:merriweather ;
}
.banner-descraftion{
    text-align: center;
    font-family: merriweather;
    font-size: 35px;
    font-weight: 900;
}