body{
    font-family: 'Open Sans', sans-serif;
}
/* New year design start */
.nav-style{
    justify-content: center;
    align-items: center;
}
.header{ 
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    width:1300px;
    height: 600px;
    position: relative;
    border-radius: 10px;
}
.banner{
    color:cyan;
    justify-content: center;
    align-items: center;
    position:absolute;
    margin-left: 220px;
    margin-top: 40px;
}
.banner-title{
    font-family:merriweather ;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.banner-descraftion{
    text-align: center;
    font-family: merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top:10px;
}
/* New year design end */
/* 50% off start */
/* 50% off end */